<nav class="navbar">
  <div class="nav-left">
    <a class="brand" href="{{ url_for('home') }}">
      <img src="{{ url_for('static', filename='img/logo.svg') }}" alt="عربي سايكو" />
    </a>
    <ul class="nav-links">
      <li><a href="{{ url_for('home') }}">الرئيسية</a></li>
      <li><a href="{{ url_for('dsm_home') }}">DSM-5 علاج</a></li>
      <li><a href="{{ url_for('cbt_home') }}">CBT برامج</a></li>
      <li><a href="{{ url_for('tests_home') }}">الاختبارات</a></li>
      <li><a href="{{ url_for('case_study') }}">دراسة حالة</a></li>
    </ul>
  </div>
  <form class="nav-search" action="{{ url_for('dsm_search') }}" method="get">
    <input name="q" type="search" placeholder="ابحث في اضطرابات DSM-5..." value="{{ request.args.get('q','') }}">
    <button type="submit">بحث</button>
  </form>
</nav>
